In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv('data.csv')
df.head()

       n   min   max       mean       exp     chbshv      kurt
0   10.0   4.0   9.0   5.420000  1.580000   4.428500  0.036630
1   40.0   7.0  20.0  12.044250  4.044250  10.372210 -0.178166
2   70.0   8.0  31.0  16.541714  6.541714  15.780483  0.446703
3  100.0  11.0  34.0  18.944400  7.055600  16.638205  0.232832
4  130.0  11.0  42.0  21.977385  8.977385  20.135450  0.319134